<section class="about section-sm" id="about">
	<div class="container">
		<div class="row mb-50 justify-content-center">
			<div class="col-md-5 col-sm-12 text-center offset-md-1">
				<img src="images/team/about.jpg" class="img-fluid rounded shadow" alt="">
			</div>
			<div class="col-md-5 col-sm-12">
				<div class="content">
					<h2>Bitcoin exchange you<br> can trust</h2>
					<p>
						Curabitur felis nibh, imperdiet eu erat non, luctus cursus lectus. Donec maximus diam leo, sed fringilla nisl auctor eget. Donec dictum neque est, ac faucibus ex blandit a
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quo minima ab aperiam molestiae natus repellendus neque culpa iure, nemo veritatis explicabo facilis, officia, saepe! Et corrupti odit, non deserunt.
					</p>	
				</div>
			</div>
		</div> 		<!-- End row -->
		<div class="row mt-50 justify-content-center">
			<div class="col-12 col-md-5 offset-md-1 col-md-5 col-sm-12">
				<div class="content">
					<h2>Legal and Security</h2>
					<p>
						Curabitur felis nibh, imperdiet eu erat non, luctus cursus lectus. Donec maximus diam leo, sed fringilla nisl auctor eget. Donec dictum neque est, ac faucibus ex blandit a
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quo minima ab aperiam molestiae natus repellendus neque culpa iure, nemo veritatis explicabo facilis, officia, saepe! Et corrupti odit, non deserunt.
					</p>
				</div>
			</div>
			<div class="col-12 col-md-5 col-sm-12 text-center">
				<img src="images/team/about-2.jpg" class="img-fluid rounded shadow" alt="">
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->