<!--
Start About Section
==================================== -->
<section class="about-2 section bg-gray" id="about">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 align-self-center mb-4 mb-md-0">
                <div class="align-self-center">
    				<h2>A New Kind of Digital Currency to change the world what we think</h2>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae deleniti ipsa labore necessitatibus culpa veritatis quo accusantium, neque enim ea ad eaque iure, quas tempore velit, quibusdam dolor illo! Explicabo.</p>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quisquam maiores iste soluta, nihil dolorem?</p>
                    <a href="#" class="btn btn-main">Learn More</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div id="myDiv" class="bitcoin-graph">
                    <p>Bitcoin graphs</p>
				</div>
			</div> 		
		</div>
	</div>
</section>